.tutorssection {
  margin-top: 50px;
}

.tutors-section-description {
  text-align: center;
  margin-bottom: 50px;
}
.tutors-section-description p {
  font-size: 12pt;
}

.filter-and-sort-menu {
  margin-bottom: 20px;
  text-align: left;
}

.filter-button-label {
  margin-right: 10px;
  margin-left: 30px;
  color: gray;
}

.filter-buttons {
  margin: 10px;
}

#all-tutors-button {
  margin: 50px;
}

.ui .button p {
  text-align: center;
}
